.car {
    background-color: lightgreen;
}

.walk {
    background-color: lightskyblue;
}

.bus {
    background-color: lightsalmon;
}


.train {
    background-color: orange;
}

.rep_divider {
    background-color: #336699;
    padding: 3px;
    width: 100%;
}

.bar-chart {
    border-collapse:collapse;
    border-spacing:0;
    padding:0;
    text-align:left;
    vertical-align:top;
}

table.bar-chart tr {
    padding: 0;
    vertical-align: top;
}

table.bar-chart td {

    text-align: center;
    line-height: 30px;
    height: 30px;

}


table.bar-chart td.solid {

    border-color: #336699;
    border-style: none;
    border-width: 0px;

}



table.logos th {
}

table.logos img {
    max-height: 100px;

}


img.mode {
    display: block;
    margin: auto;
    height: 37px;
}

.empty {
    display: none;
}