img.float-center,
img.text-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

.car {
    background-color: #90EE90;
}

.walk {
    background-color: lightskyblue;
}

.bus {
    background-color: lightsalmon;
}

.train {
    background-color: orange;
}

.bicycle {
    background-color: khaki;
}

.car.above_avg{
    background-color: #90EE90;
    /*background-color: #ccffcc;*/
}

.walk.above_avg {
    background-color: lightskyblue;
    /*background-color: #ddfdff; */
}

.bus.above_avg {
    background-color: lightsalmon;
    /* background-color: #ffbab2; */
}


.train.above_avg {
    background-color: orange;
    /* background-color: #FFD700; */
}

.rep_divider {
    background-color: #336699;
    padding: 3px;
    width: 100%;
}

.bar-chart {
    border-collapse:collapse;
    border-spacing:0;
    padding:0;
    margin: 0 auto;
}

table.bar-chart tr {
    padding: 0;
}

table.bar-chart td {

    text-align: center;
    line-height: 30px;
    height: 30px;

}

tr.even {
    background-color: #e1faea;
}

td.cellbox {
    padding: 20px 30px 20px 30px;
    color: #666666;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

td.cellbox {
    vertical-align: center;
}


h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

table.bar-chart td.solid {

    border-color: #336699;
    border-style: none;
    border-width: 0px;

}

table.bar-chart td.clear {

    background: none;
    background-color: white;

}

td.distance {

}

td.max_val {
    background-color: white;
}

td.my_average {
    border-right-color: #8b0000;
    border-right-style: solid;
    border-right-width: 5px;

}


td.pop_average {

    border-right-color: #336699;
    border-right-style: solid;
    border-right-width: 5px;

}

td.legend {
    padding-left: 5px;

}


table.logos th {
}

table.logos img {
    max-height: 100px;

}


img.mode {
    margin: auto;
    width: 37px;
}

img.mode-small {
    margin: auto;
    width: 37px;
}

.empty {
    display: none;
}

.total td, .total th {

    border-top-color: #336699;
    border-top-style: solid;
    border-top-width: 2px;

    border-bottom-color: #336699;
    border-bottom-style: solid;
    border-bottom-width: 2px;

}

.total .bad-cell {
    background-color: darksalmon;
}


.total .good-cell {
    background-color: palegreen;
}

table.bar-chart.externalities td {
    border-top: #0a0a0a solid 1px;
    border-bottom: #0a0a0a solid 1px;
}

.health {
    background-color: #90EE90;
}

table.bar-chart.externalities td.right_border {

    border-right-color: #0a0a0a;
    border-right-style: solid;
    border-right-width: 4px;
}

table.bar-chart.externalities td.left_border {

    border-left-color: #0a0a0a;
    border-left-style: solid;
    border-left-width: 4px;
}

.co2 {
    background-color: lightsalmon;
}

.environment {
     background-color: lightskyblue;

}

.congestion {
    background-color: orange;
}

td.ext_legend {
    padding: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
