.car {
    background-color: red;
}

.walk {
    background-color: green;
}

.bus {
    background-color: blue;
}

.rep_divider {
    background-color: #336699;
    padding: 3px;
    width: 100%;
}

.bar-chart {
    text-align: center;
    line-height: 30px;
    height: 30px;
    float: left;

}

.empty {
    display: none;
}